/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: 'Fredoka One', cursive;
}

/* Variables */

:root {
    --section-button-color: green;
    --section-text-button-color: white;
}

.light {
    --bg: rgb(240, 240, 240);
    --section-color: #ffff;
    --sub-text: black;
    --text: black;
    --link-color: #e6e6e6;
}

.dark {
    --bg: #242323;
    --section-color: #1d1c1c;
    --text: white;
    --text-hover: rgb(216, 214, 214);
    --button-color: #131212;
    --link-color: #5c5c5c;
}

body {
    background-color: var(--bg);
}

/* Text selection color */

::-moz-selection {
    color: white;
    background: #0055c9;
}
  
::selection {
    color: white;
    background: #0055c9;
}

/* Header */

#header-footer {
    background-color: var(--bg);
    box-shadow: 0px -1px 10px inset;
    padding: 10px;
    margin: 0;
    min-height: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#header-footer-content {
    position: relative;
    top: 13px;
}

.top-btn {
    background-color: transparent;
    color: var(--text);
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    transition: ease 0.2s;
    /*box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);*/
    position: relative;
    top: -25px;
}

.top-btn:hover {
    transition: ease 0.2s;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);
    background-color: var(--link-color);
}

/* Page Wrapper */

.page-wrapper {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.content {
    padding-top: 10px;
    padding-bottom: 50px;
    inline-size: 700px;
}

.info-header {
    color: var(--text);
    text-align: center;
}

.info-image {
    border: 10px solid #131212;
    border-radius: 20px;
}

p {
    color: var(--text);
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
}

.info-link {
    color: var(--text);
    font-family: sans-serif;
}

/* Cookie Consent */

.cookie-consent {
    position: fixed;
    bottom: 0.3em;
    background-color: var(--section-color);
    max-width: 365px;
    padding: 2em;
    font-size: 20px;
    z-index: 10000;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0;
    visibility: hidden;
}

.cookie-button {
    background-color: var(--section-button-color);
    color: var(--section-text-button-color);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    transition: 200ms ease;
}

.cookie-button:hover {
    transform: scale(1.1);
}

.cookie-consent.show {
    transition: 0.5s ease;
    opacity: 1;
    visibility: visible;
}

header {
    color: var(--text);
    font-size: 30px;
}