/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Fredoka One', cursive;
}

/* Variables */

:root {
    --section-button-color: green;
    --section-text-button-color: white;
}

.light {
    --bg: rgb(240, 240, 240);
    --section-color: #ffff;
    --sub-text: black;
    --link-color: #e6e6e6;
    --bar-color: black;
}

.dark {
    --bg: #242323;
    --section-color: #1d1c1c;
    --text: white;
    --text-hover: rgb(216, 214, 214);
    --button-color: #131212;
    --link-color: #5c5c5c;
    --bar-color: white;
}

body {
    background-color: var(--bg);
}

/* Text selection color */

::-moz-selection {
    color: white;
    background: #0055c9;
}
  
::selection {
    color: white;
    background: #0055c9;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

h1 {
    color: var(--text);
}

/* Header */

#header-footer {
    background-color: var(--bg);
    box-shadow: 0px -1px 10px inset;
    padding: 10px;
    margin: 0;
    min-height: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#header-footer-content {
    position: relative;
    top: 13px;
}

#selected {
    color: rgb(75, 55, 255);
}

.top-btn {
    background-color: transparent;
    color: var(--text);
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
    transition: ease 0.2s;
    /*box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);*/
    position: relative;
    top: -25px;
}

.top-btn:hover {
    transition: ease 0.2s;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);
    background-color: var(--link-color);
}

.settings-button {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
    background: transparent;
    color: var(--text);
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.settings-icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Settings hover */

.settings-button:hover {
    color: var(--text-hover);
}

/* Page Wrapper */

.page-wrapper {
    overflow: hidden;
    min-height: 84vh;
    text-align: center;
}

.page-content {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
}

.blog-page-wrapper {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.content {
    padding-top: 10px;
    padding-bottom: 50px;
    inline-size: 500px;
}

.blog-header {
    color: var(--text);
    text-align: center;
}

.blog-link {
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
}

.blog-text {
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100%;
}

/* Cookie Consent */

.cookie-consent {
    position: fixed;
    bottom: 0.3em;
    background-color: var(--section-color);
    max-width: 365px;
    padding: 2em;
    font-size: 20px;
    z-index: 10000;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0;
    visibility: hidden;
}

.cookie-button {
    background-color: var(--section-button-color);
    color: var(--section-text-button-color);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    transition: 200ms ease;
}

.cookie-button:hover {
    transform: scale(1.1);
}

.cookie-consent.show {
    transition: 0.5s ease;
    opacity: 1;
    visibility: visible;
}

header {
    color: var(--text);
    font-size: 30px;
}

/* Sections */

.title-section {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 50px;
}

p {
    color: var(--text);
}

.section-link {
    color: var(--text);
    text-decoration: none;
}

.sections {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,450px));
    place-content: center;
    gap: 1.75rem;
    padding-bottom: 40px;
}

.section {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--section-color);
    padding-left: 30px;
    padding-right: 30px;
    height: 350px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    min-width: 220px;
    max-width: 410px;
}

.section-image {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    width: 100%;
    margin-bottom: 26px;
}

.section-button {
    display: block;
    background-color: var(--section-button-color);
    color: var(--section-text-button-color);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.section-content {
    width: 100%;
}

/* Button hover */

.section-button:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
}

/* Video Section */

.section-video {
    width: 100%;
    
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    margin-bottom: 26px;
}

.video-section {
    color: var(--text);
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--section-color);
    padding-left: 30px;
    padding-right: 30px;
    height: 320px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    min-width: 250px;
    max-width: 450px;
}

iframe {
    aspect-ratio: 16/9;
}

/* Settings prompt */

.prompts {
    position: absolute;
    left: 100%;
    transform: translate(-105%);
    display: grid;
    place-items: end;
}

.settings-prompt {
    display: grid;
    list-style: none;
    place-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: var(--bg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.settings-prompt.hide {
    animation: fadeOut ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.settings-prompt.show {
    animation: fadeIn ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: visible;
}

.settings-text {
    color: var(--text);
}

/* Announcement banner */

.announce-container {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: var(--section-color);
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
}

.announce-content {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 700px;
}

.announce-button {
    background-color: var(--section-button-color);
    color: var(--section-text-button-color);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

/* Profile */

h2, h3 {
    color: var(--text);
}

.pfp {
    border-radius: 100px;
}

.profile-socials {
    text-align: center;
    height: 56px;
}

.profile-social {
    margin: .25em .25em .25em 0;
    background: var(--section-button-color);
    color: var(--section-text-button-color);
    padding: 1em 2em;
    text-decoration: none;
    display: inline-flex;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.profile-social:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
}

/* Theme buttons */

.dark-button {
    position: absolute;
}

.light-button {
    visibility: hidden;
}

.dark-button, .light-button {
    cursor: pointer;
    background: transparent;
    border: hidden;
    visibility: hidden;
}

.dark-icon, .light-icon {
    color: white;
}

.dark-button.show-dark {
    visibility: visible;
}

.dark-button.hide-dark {
    visibility: hidden;
}

.light-button.show-light {
    visibility: visible;
}

.light-button.hide-light {
    visibility: hidden;
}

/* Info popup */

.info-box {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}

/* Mobile menu */

.mobile-button {
    position: absolute;
    visibility: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: #494646;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383636;
}

/* Media */

@media only screen and (max-width: 956px) {
    .sections {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 484) {
    .section {
        width: 350px;
        height: 150px;
    }
}

@media only screen and (max-width: 470px) {
    .links-title {
        width: 250px;
    }
}

.mobile-menu {
    position: absolute;
    visibility: hidden;
}

@media only screen and (max-width: 610px) {
    #header-footer {
        display: none;
        position: absolute;
    }

    .mobile-button {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-content: center;
        position: fixed;
        top: 2%;
        
        transform: translate(5%, 20%);
        color: var(--bar-color);
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        z-index: 150;
    }

    .prompts {
        display: none;
    }

    .mobile-menu-content {
        position: relative;
        top: 80px;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        background-color: var(--section-color);
        height: 100%;
        max-width: 80%;
        width: 350px;
        overflow-y: auto;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .mobile-menu.toggle {
        visibility: visible;
    }

    .mobile-menu-button {
        list-style: none;
    }

    .mobile-menu-item {
        margin: 10px 10px;
        padding: 10px 12px;
        font-size: 30px;
        color: var(--text);
        border-radius: 10px;
        text-decoration: none;
    }

    .mobile-menu-button, .mobile-menu-item {
        margin: 20px 0;
    }

    .mobile-menu-item:hover {
        transition: ease 0.2s;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);
        background-color: var(--link-color);
    }

    .mobile-menu-icon {
        margin-top: 20px;
    }

    .mobile-menu-theme {
        position: relative;
        left: 10%;
        width: 50%;
    }

    .mobile-menu-dark, .mobile-menu-light {
        position: absolute;
        background: transparent;
        border: none;
        cursor: pointer;
        visibility: hidden;
    }

    .light-icon, .dark-icon {
        width: 30px;
        height: 30px;
    }

    h2 {
        color: var(--text);
    }

    /* Mobile button events */

    .mobile-menu-dark.toggle {
        visibility: visible;
    }

    .mobile-menu-light.toggle {
        visibility: visible;
    }
}

@media only screen and (max-width: 360px) {
    .mobile-menu-icon {
        width: 250px;
    }
}